.article{
    padding:1rem;
    width:100vw;
    margin:1rem auto 3rem;
}
.articleTitle{
    text-align: start;
}
.articleImg{
    max-width: calc(100vw - 2rem);
}
.articleInfo{
    display:flex;
    justify-content: space-between;
    margin-bottom:2rem;
    font-size:0.9rem;
}
@media screen and (min-width:1000px) {
    .article,.articleImg{
        padding:0;
        width: 1000px;
    }

}