.searchContainer{
    display:flex;
    justify-content:center;
    max-width: 95vw;
    margin:auto;
}
.search {
    max-width:70vw;
    
    font-size: 1.1rem;
    padding:0.2rem 0.5rem;
    border:2px solid var(--search);
    border-left:none;
    border-right:none;
}
.search:focus{
    outline-color: var(--outline);
}
.clearSearch,.searchBtn{
    font-size: 1.1rem;
    cursor: pointer;
    border:2px solid var(--search);
    padding:0.2rem;
}
.clearSearch{
    border-right:none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.searchBtn{
    background-color: white;
    border-left:none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display:flex;
    align-items: center;
}
.searchBtn>*{
    width:1.3rem;

}
.toggleSort{
    /* position: relative; */
    display:flex;
    justify-content: flex-end;
    /* width:90vw; */
    margin: 1rem;
}
.dropdownBtn{
    background-color: var(--button);
    cursor: pointer;
    color:white;
    padding:0.2rem 0.5rem;
    border:none;
    border-radius: 0.2rem;
}
.dropContainer::before{
    content:'';
    position:fixed;
    background-color: black;
    opacity: 0.2;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.dropdown{
    position:absolute;
    top:10;
    right:0;
    background-color: var(--main);
    width:10rem;
}
.hide{
    display:none;
}
.spotLightCard{
    margin-top:1rem;
    background-color: var(--spotlight);
    /* padding:0.2rem; */
    /* display:flex;
    justify-content: center;
    max-width: 95vw; */
}
.spotLightImg{
    /* min-width: 90%; */
    max-width: 100%;
    max-height:400px;
}
.pageNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5rem 0 2rem;
}
.pageNav>*{
    font-size: 1.5rem;
    padding:0.3rem 0.8rem;

}
.placeholder{
    width:4.6rem;
}
.navigationBtn{
    margin:0 1rem;
    cursor: pointer;
    background-color: var(--button);
    color:white;
    border:none;
}
.left{
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}
.right{
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
@media screen and (min-width:500px) {
    .spotLightLink{
        width:min-content;
        margin:auto;
        border-bottom:1px solid var(--shadow);
    }
    .spotLightCard{
        margin:1rem auto;
        display:flex;
        justify-content: center;
        width:1200px;
        max-width: 95vw;
        border-radius: 1rem;
    }
    .spotLightText{
        width:50%;
        padding:1rem;
    }
    .spotLightImg,.imageContainer{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 100%;
        min-height:100%;
        object-fit: cover;
    }
    .articleContainer{
        /* padding:1rem 2rem; */
        /* display:flex; */
        /* flex-wrap: wrap; */
    }
    .articleLink{
        margin:1rem auto;
        width:95vw;
        max-width:1400px;
        border-radius: 0.5rem;
    }
    .toggleSort{
        position: relative;
        width:80vw;
    }
}