.card{
    margin:1rem;
    min-height:200px;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.5rem 1rem var(--shadow);
}
.cardImg{
    height:50%;
    max-height: 300px;
    max-width: calc(95vw - 2rem);
}