:root{
  --main:#eceffb;
  --nav:#2b2b2b;
  --navHover:#464646;
  --spotlight:#cbd4e0;
  --shadow:#999ca8;
  --selected:#4a4a4a;
  --search:#42d4fc;
  --outline: #89ceeb;
  --button: #a0acd9;
  --hover: #b2bdce;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  color:black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,#root{
  width:100vw;
  background-color: var(--main);
}
